
# --- PRODUCTION: Dùng Render Postgres (Mặc định) ---
DB_CONNECTION_STRING=

# --- FALLBACK: Dùng Local Postgres ---
# DB_CONNECTION_STRING=Host=postgres;Port=5432;Database=datalabel_db;Username=datalabel_user;Password=301199@@Kg99;SSL Mode=Disable
# DB_PASSWORD=301199@@Kg99

JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIREMINUTES=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_SENDER=
EMAIL_REPLYTO=

ACME_EMAIL=
